<script>
    function checkbookid(){
        textbox = document.getElementById("bookid");
        bookid = textbox.value;
        pattern = /^[0-9]{3}$/;

        if(pattern.test(bookid)){
            ajaxgetcall(bookid);
        }
        else{
            div = document.getElementById("mesg");
            div.style.color = "red";
            div.textContent = "Invalid Book ID";
            img = document.getElementById("pic");
            img.src = "";
        }
    }

    function ajaxgetcall(bookid){
        // step 1: define the server action to be called
        url = "/validatebookid?bookid=" + bookid;

        // step 2: create ajax request object
        req = new XMLHttpRequest();

        // step 3: open a connection to the server
        req.open("GET", url, true);

        // step 4: send the get request
        req.send();

        // step 5: listen to response from the server
        req.addEventListener("load", function(){
            div = document.getElementById("mesg");
            img = document.getElementById("pic");

            if(req.status == 200){
                div.style.color = "green";
                div.textContent = req.responseText;
                img.src = "/static/images/" + bookid + ".jpg";
            }
            else{
                div.style.color = "red";
                div.textContent = "Book ID not found";
                img.src = "";
            }
        });
    }
    
    function responseListener(){
        if (this.responseText != '')
        {
            div = document.getElementById("mesg");
            div.style.color = "green";
            div.textContent = "Book cover Image";
            img = document.getElementById("pic");
            img.src = this.responseText;
        }
        else
        {
            div = document.getElementById("mesg");
            div.style.color = "red";
            div.textContent = "Book ID not found";
            img = document.getElementById("pic");
            img.src = "";
        }
    }
</script>


Search book: <input type = "text" id = "bookid">
<input type = "button" value = "Get Book" onclick = "checkbookid();">
<br>
<div id = "mesg"></div>
<br>
<img id = "pic" width="100" onmouseove="zoomin('pic')"; onmouseout="zoomout('pic');">